.footer {
    background-color: #fff5f5f5;
    color: rgb(12, 0, 0);
    text-align: center;
    padding: 15px 0;
    position: relative; /* Para fazer o rodapé rolar com o conteúdo */
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer p {
    margin: 0;
}

