.footer {
    background-color: #333; /* Fundo do footer */
    color: white; /* Cor do texto */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    text-align: center;
    margin: 0 20px;
}

/* Estilo para telas menores */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Muda a direção para coluna */
        align-items: center; /* Centraliza os itens */
    }
    
    .footer-section {
        margin: 10px 0; /* Adiciona margem entre seções */
    }
}

.social-icons a, .payment-icons img, .payment-icons svg {
    font-size: 24px;
    color: white;
    margin: 0 10px;
}

.payment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pix-icon {
    width: 24px;  /* Tamanho do ícone Pix igual aos outros ícones */
    height: 24px;
    filter: brightness(0) invert(1); /* Transformar a imagem para branco */
    margin-left: 10px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

/* Adicionando mais responsividade */
@media (max-width: 480px) {
    .social-icons a, .payment-icons img, .payment-icons svg {
        font-size: 20px; /* Reduz o tamanho dos ícones em telas muito pequenas */
    }

    .footer-bottom {
        font-size: 12px; /* Reduz o tamanho da fonte do rodapé */
    }
}
