.marcas-recomendadas {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.marcas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Para garantir que as marcas se reorganizem em telas menores */
}

.marca-card {
    width: 200px; /* Defina a largura desejada para os cards */
    margin: 10px;
    text-decoration: none; /* Remove sublinhado */
    color: black; /* Altera a cor do texto */
}

.marca-imagem {
    width: 100%; /* Ajusta a imagem para preencher o card */
    height: auto; /* Mantém a proporção */
    border-radius: 8px; /* Para bordas arredondadas, se desejado */
}

.marca-card h3 {
    margin: 10px 0;
}

.marca-card p {
    color: #007bff; /* Cor do texto "Ver produtos" */
}
